<a href="https://colab.research.google.com/github/m0ohannad/-/blob/main/Assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q1**

By selecting data from **f500**:

1. Create a new variable **big_movers**, with:
  * Rows with indices **Aviva**, **HP**, **JD.com**, and **BHP Billiton**, in that order.
  * The **rank** and **previous_rank** columns, in that order.

2. Create a new variable, **bottom_companies** with:
  * All rows with indices from **National Grid** to **AutoNation**, inclusive.
  * The **rank**, **sector**, and **country** columns.



```
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None
```

In [1]:
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None

big_movers = f500.loc[["Aviva", "HP", "JD.com", "BHP Billiton"]] [["rank","previous_rank"]]

bottom_companies = f500.loc["National Grid":"AutoNation"] [["rank","sector", "country"]]

print(big_movers)
print("\n=================================================\n")
print(bottom_companies)

              rank  previous_rank
Aviva           90            279
HP             194             48
JD.com         261            366
BHP Billiton   350            168

=================================================

                                       rank              sector  country
National Grid                           491              Energy  Britain
Dollar General                          492           Retailing      USA
Telecom Italia                          493  Telecommunications    Italy
Xiamen ITG Holding Group                494         Wholesalers    China
Xinjiang Guanghui Industry Investment   495         Wholesalers    China
Teva Pharmaceutical Industries          496         Health Care   Israel
New China Life Insurance                497          Financials    China
Wm. Morrison Supermarkets               498  Food & Drug Stores  Britain
TUI                                     499   Business Services  Germany
AutoNation                              500           Retailing      USA

# **Q2**

We want to replaced all **0** values in the **previous_rank** column with **NaN**.

1. Select the **rank**, **revenues**, and **revenue_change** columns in **f500**. Then, use the **`DataFrame.head()`** method to select the first five rows. Assign the result to **f500_selection**.

2. Use the variable inspector to view **f500_selection**. Compare the results to the first few lines of our CSV file above.

3. Take a look at the documentation for the **`pandas.read_csv()`** **function** to try to understand the results. If you have trouble understanding, don't worry! We'll explain the results on the next screen.



```
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None
```

In [2]:
# import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
# f500.index.name = None

f500_selection = f500[["rank","revenues", "revenue_change"]].head()
f500_selection

                          rank  revenues  revenue_change
company
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7